.Chat {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.Spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spinner-logo {

  justify-self: center;
  height: 40vmin;
  pointer-events: none;
}

.Spinner-logo {
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}