.Chat-header {
  margin: 0 auto;
  padding: 1%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #404c54;
  opacity: 1;
}

.Chat-header span {
  margin: 0 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.Chat-title {
  text-align: center;
  flex-grow: 3;
  font-size: 2vw;
}

.Chat-icon {
  margin: 5px;
  width: 25px;
}

.Header-item {
  justify-self: flex-end;
  overflow: hidden;
  display: flex;
  font-size: 1.5vw;
  justify-self: end;
  flex-direction: row;
  justify-items: center;
  align-items: center;

}