.Login-page{
    height: 80vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.Login-page form{
 
    background-color: #dddddfa8;
    border-radius: 4px;
    border: 2px solid #63545a;
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.Login-form{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

 
  .Login-form  button {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6BC47C;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 1.25em;
  }
  
  .Login-form  button:hover {
    background-color: #57e471;
    cursor: pointer;
  }
  
  .Login-form button:focus {
    border: none;
    outline: none;
  }
.Login-form label{
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
    font-size: 1.25em;
    color: #63545a;
}

.Login-page input {
    height: 30px;
    overflow: auto;
    border: 2px solid  #6BC47C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 3px;
    font-weight: 400;
  }
  
  .Login-page input:focus {
    outline: none;
    margin: 8px 0;
    border: 2px solid #57e471;
  }
  