@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header span {
    color: #6BC47C;
    font-family: 'Ranchers', cursive;
    font-weight: 400;
    font-size: 5vw;
}

.Header-logo {
    margin: 0.5% 1% 0.5% 3%;
    width: 6%;
    pointer-events: none;

}
.buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10%;
    height: 60%;
}
header button {
    justify-self: left;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #6BC47C;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 1em;
  }
  
  header  button:hover {
    background-color: #57e471;
    cursor: pointer;
  }
  
  header button:focus {
    border: none;
    outline: none;
  }