.User-list{
    display: flex;
    flex-direction: column;

    
}
.User-grid{
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #63545a;
}
.User-header{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 1fr 1.2fr 1.2fr;
    align-items: center;
    justify-items: center;
    
}
.User-Item{
    display: flex;
    height: 100px;
    padding: 10px;
    align-items: center;
    text-align: center;
   }
   .User{
       border: 2px solid #6BC47C;
       margin: 10px 0;
       display: grid;
       grid-template-columns:  2fr 1fr 1fr 1fr 1.2fr 1.2fr;
       align-items: center;
       justify-items: center;
       text-align: center;
   }
.User-list button {
    justify-self: left;
    margin: 5px 0;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #6BC47C;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 1em;
  }
  
.User-list  button:hover {
    background-color: #57e471;
    cursor: pointer;
  }
  
.User-list button:focus {
    border: none;
    outline: none;
  }
  